*
  box-sizing border-box

html
  font-size 1em

body
  margin 0

ul
  list-style none
  padding 0
  margin 0

.header
  text-align center

.main
  width 80em
  margin 0 auto

.post-section,
.team-section
  margin 2em 0

.post
  &-section
    background lavender

  &-list
    display flex
    flex-wrap wrap

  &-item
    width 50%
    padding 1em

  &-link
    display flex
    flex-wrap wrap
    align-items center
    justify-content center

  &-img
    margin-right 0.6em

  &-title
    flex 0 1 100%
    margin 0
    text-align center

.team
  &-title
    text-align center

  &-list
    display flex
    flex-wrap wrap

.member
  &-item
    display flex
    flex-direction column
    align-items center
    width 25%

  //&-img

  &-gif
    display none

//&-name

//&-desc


.footer
  background lightblue
  text-align center
  padding 8em 0 5em 0
