* {
  box-sizing: border-box;
}
html {
  font-size: 1em;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header {
  text-align: center;
}
.main {
  width: 80em;
  margin: 0 auto;
}
.post-section,
.team-section {
  margin: 2em 0;
}
.post-section {
  background: #e6e6fa;
}
.post-list {
  display: flex;
  flex-wrap: wrap;
}
.post-item {
  width: 50%;
  padding: 1em;
}
.post-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.post-img {
  margin-right: 0.6em;
}
.post-title {
  flex: 0 1 100%;
  margin: 0;
  text-align: center;
}
.team-title {
  text-align: center;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.member-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.member-gif {
  display: none;
}
.footer {
  background: #add8e6;
  text-align: center;
  padding: 8em 0 5em 0;
}
