doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="./index.css")

  body
    //- HEADER
    hedaer.header
      h1.logo blog name

    //- MAIN
    main.main
      section.post-section
        ul.post-list
          li.post-item
            a(href="#1").post-link
              img(src="https://via.placeholder.com/30", alt="profile").post-img
              span.post-author author name
              h2.post-title post name
          li.post-item
            a(href="#1").post-link
              img(src="https://via.placeholder.com/30", alt="profile").post-img
              span.post-author author name
              h2.post-title post name
          li.post-item
            a(href="#1").post-link
              img(src="https://via.placeholder.com/30", alt="profile").post-img
              span.post-author author name
              h2.post-title post name
          li.post-item
            a(href="#1").post-link
              img(src="https://via.placeholder.com/30", alt="profile").post-img
              span.post-author author name
              h2.post-title post name

      section.team-section
        h1.team-title The Team
        ul.team-list
          li.member-item
            div.member-profile
            h4.member-name Cindy
            p.member-desc FE Developer
          li.member-item
            img(src="https://via.placeholder.com/190x260", alt="profile").member-img
            img(src="https://via.placeholder.com/190x260/FFFF00/00000", alt="profile").member-gif
            h4.member-name Cindy
            p.member-desc FE Developer
          li.member-item
            img(src="https://via.placeholder.com/190x260", alt="profile").member-img
            img(src="https://via.placeholder.com/190x260", alt="profile").member-gif
            h4.member-name Cindy
            p.member-desc FE Developer
          li.member-item
            img(src="https://via.placeholder.com/190x260", alt="profile").member-img
            img(src="https://via.placeholder.com/190x260", alt="profile").member-gif
            h4.member-name Cindy
            p.member-desc FE Developer
          li.member-item
            img(src="https://via.placeholder.com/190x260", alt="profile").member-img
            img(src="https://via.placeholder.com/190x260", alt="profile").member-gif
            h4.member-name Cindy
            p.member-desc FE Developer
          li.member-item
            img(src="https://via.placeholder.com/190x260", alt="profile").member-img
            img(src="https://via.placeholder.com/190x260", alt="profile").member-gif
            h4.member-name Cindy
            p.member-desc FE Developer
          li.member-item
            img(src="https://via.placeholder.com/190x260", alt="profile").member-img
            img(src="https://via.placeholder.com/190x260", alt="profile").member-gif
            h4.member-name Cindy
            p.member-desc FE Developer

    //- FOOTER
    footer.footer
      span.copyright COPYRIGHT ©2019 MADUP INC. ALL RIGHT RESERVED.
